@charset "utf-8";
@font-face {
    font-family: 'gidoleregular';
    src: url('../assets/fonts/gidole-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$body-family: "gidoleregular", sans-serif;
$primary: #4D4D4D;
$link: #4EC0EA;
$light: #E3F7FF;
$medium: #72d5f5;
$dark: #0697D4;
$padding: 1rem;

@import "~flexboxgrid-sass/flexboxgrid.scss";

button{
  background: #fff;
  border: none;
  margin: 1rem 0;
  border-bottom: 1px solid $dark;

  a{
    text-decoration: none;
    font-size: 1rem;
    color: $dark;
  }
}

.tc{
  text-align: center;
}

.fixed{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
}

.section{
  width: 100vw;
  height: 100vh;
}

p{
  margin-bottom: 1rem;
  line-height: 1.25rem;

  em, strong{
    color: $dark;
  }
}

.bg-light{
  background: $light;
}

.bg-medium{
  background: $medium;
}

.bg-dark{
  background: $dark;
}

.inner{
  padding: 6rem 3rem;
}

.navbar{
  background: none;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
