@charset "utf-8";
@font-face {
    font-family: 'gidoleregular';
    src: url('../assets/fonts/gidole-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$body-family: "gidoleregular", sans-serif;
$primary: #4D4D4D;
$link: #4EC0EA;
$light: #E3F7FF;
$dark: #0697D4;
$body-color: $primary;
$padding: 1rem;

@import "~flexboxgrid-sass/flexboxgrid.scss";

.tc{
  text-align: center;
}

.fixed{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
}

.section{
  width: 100vw;
  height: 100vh;
}

p{
  margin-bottom: 1rem;

  em, strong{
    color: $dark;
  }
}

.subtitle{
  color: $dark;
}

.bg-light{
  background: $light;
}

.bg-dark{
  background: $dark;
}

.inner{
  padding: 6rem 3rem;
}

.navbar{
  background: none;
}
